.h1 {
  font-family: var(--font-josefin-slab);
  font-size: 5.625rem;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: 0.03em;
}

.h2 {
  font-family: var(--font-josefin-slab);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.4em;
  letter-spacing: 0.03em;
}

.h3 {
  font-family: var(--font-josefin-slab);
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}

.body1 {
  font-family: var(--font-josefin-sans);
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 2em;
  letter-spacing: 0.03em;
}

.body2 {
  font-family: var(--font-josefin-sans);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 0.01em;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.wrap {
  text-wrap: wrap;
}

.nowrap {
  text-wrap: nowrap;
}

.balance {
  text-wrap: balance;
}

.pretty {
  text-wrap: pretty;
}
